img {
  margin-left: 900px;
  width: 100px;

  height: 50px;
}
#header {
  background-color: #bf7780;
  height: 50px;
  width: 100%;
}

.blue {
  color: #2d315f;
  font-size: 80px;
  text-align: center;
}
.pink {
  color: #bf7780;
  font-size: 80px;
  text-align: center;
  margin-top: 200px;
}
span {
  color: black;
}
h4 {
  color: black;
  font-size: 30px;
}
h3 {
  color: #bf7780;
  font-size: 35px;
}

/* 백그라운드 색깔 및 크기 설정 */

body {
  background: white;
  height: 500px;
  margin: 0;
  padding: 0;
}
.outer {
  width: 100%;
  height: 970px;
  background: #2d315f;
  margin-top: 0px;
}
.inner {
  width: 85%;
  height: 800px;
  background: white;
  margin-top: 100px;

  border-radius: 40px 40px 40px 40px;
}

/* 가운데 정렬 */
.outer {
  text-align: center;
}

.inner {
  display: inline-block;
}

/* absolute */
.outer,
.inner {
  position: relative;
}
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* .inner {
    width: 85%;
    height: 800px;
    background: white;
    margin-top: 100px;
    
    border-radius: 3%;
  } */
/* 화면 4분할 */
#side {
  height: 400px;
  width: 50%;
  float: left;
}
#side1 {
  height: 400px;
  width: 50%;

  float: left;
}

#side2 {
  height: 400px;
  width: 50%;
  float: left;
}
#side3 {
  height: 400px;
  width: 50%;
  float: left;
}
#cross {
  background-color: #e3e3e3;
  height: 1%;
  width: 100%;
  position: absolute;
  top: 50%;
}
#cross1 {
  background-color: #e3e3e3;
  height: 80%;
  width: 0.5%;
  position: absolute;
  top: 10%;
  left: 50%;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  margin-left: 95px;
  margin-right: 100px;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 50px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* 밑줄 이벤트 */
.highlight {
  display: inline-table;
  position: relative;
  overflow: hidden;
}
.highlight span {
  position: relative;
  z-index: 2;
}
.highlight::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  /* left: -100%; */
  width: 100%;
  height: 100%;
  background: rgba(226, 189, 189, 0.8);
  transition: all 0.35s;
  z-index: 1;
}
.content:hover .highlight::before {
  left: 0;
}
